<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<connectionStrings>
		<add name="AspirantesEntities" connectionString="metadata=res://*/AspirantesModel.csdl|res://*/AspirantesModel.ssdl|res://*/AspirantesModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=Aspirantes;persist security info=True;user id=sa;password=invemega;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	</connectionStrings>

</configuration>